POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

POSTGRES_SSL_REJECT_UNAUTHORIZED=false
POSTGRES_POOL_MAX=5

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

PORT=3000
